# SPDX-FileCopyrightText: © 2025 Evotis S.A.S.
# SPDX-License-Identifier: Elastic-2.0
# "Pipelex" is a trademark of Evotis S.A.S.

# env
.env

# venv
.venv
venv/

# reports
reports/

# pycache
__pycache__

# Python build artifacts
build/*
*.egg-info/
dist/
*.pyc

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Results
results/

# temps
temp/
